### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load 
schools_complete_df=pd.read_csv("Resources/schools_complete.csv")
students_complete_df=pd.read_csv("Resources/students_complete.csv")


# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_complete_df, schools_complete_df, how="left", on=["school_name", "school_name"])
# schools_complete_df.head
school_data_complete.head()
# print(data_complete_df)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# After joining files, need to perform calculations
total_schools=schools_complete_df["school_name"].count() 
total_students_df=students_complete_df["Student ID"].count()
total_budget_df=schools_complete_df["budget"].sum()
avg_math_score_df=students_complete_df["math_score"].mean()
avg_reading_score_df=students_complete_df["reading_score"].mean()

In [6]:
# Need to pull all of the grades over 70 from the math column
math_score=school_data_complete[(school_data_complete["math_score"]>=70)] #grab every row this is true for
math_pass=math_score.count()["math_score"]
math_pass_percent=(math_pass/total_students_df)*100
math_pass_percent



# [] represent a list, variable math_Score is a series
# To call a function, need (). A function is built into python, something the language itself requires
#math_Score gives a series of booleans
# math_pass coming back as: <function list.count(value, /)>
# Need to convert list object to integer


#for i in range([math_pass]):
 #   math_pass[i]=(math_pass[i])

#math_pass_percent=((int[math_pass]/int[total_students_df])*100)

#percent passing math/reading = need to add up the total number of students in math/reading_score that are over 70 
# and then divide that number by the total # of students, and multiply by 100
# Pass math and reading = add up the total number of students with grades over 70 in BOTH the math and reading columns
# and then divide this by the total # of students and multiply by 100.

74.9808526933878

In [7]:
reading_score=school_data_complete[(school_data_complete["reading_score"]>=70)]
reading_pass=reading_score.count()["reading_score"]
reading_pass_percent=(reading_pass/total_students_df)*100
reading_pass_percent

85.80546336482001

In [8]:
overall_grade=school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
overall_pass=overall_grade.count()["Student ID"]
overall_pass_percent=(overall_pass/total_students_df)*100
overall_pass_percent

65.17232575950983

In [9]:
data= {
    "Total Schools ": [total_schools],
# Total schools isn't correct 
    "Total Students ": [total_students_df], #either integer or float (767124865)
    "Total Budget ": [total_budget_df], #integer or float
    "Average Math Score ": [avg_math_score_df],#decimal 78.985...
    "Average Reading Score ": [avg_reading_score_df], # decimal 81.8779....
    "% Passing Math": [math_pass_percent],
    "% Passing Reading": [reading_pass_percent],
    "% Overall Passing": [overall_pass_percent]
}
pd.DataFrame(data)

# Brackets necessary around % because only 1 number, for next parts w summary data frame, they're series
# so don't need [] around variable

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
grouped_schools= school_data_complete.groupby(["school_name"])
total_pop= grouped_schools.count()["Student ID"]

#school type doesn't use groupby

In [11]:
budget=grouped_schools.mean()["budget"]
budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [12]:
student_budget=budget/total_pop
student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [13]:
avg_math=grouped_schools.mean()["math_score"]
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [14]:
avg_reading=grouped_schools.mean()["reading_score"]
avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [15]:
reading_score=school_data_complete[(school_data_complete["reading_score"]>=70)]
grouped_reading=reading_score.groupby(["school_name"])
grouped_reading_pass=grouped_reading.count()["reading_score"]
grouped_reading_pass_percent=(grouped_reading_pass/total_pop)*100
grouped_reading_pass_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [16]:
math_score=school_data_complete[(school_data_complete["math_score"]>=70)]
grouped_math=math_score.groupby(["school_name"])
grouped_math_pass=grouped_math.count()["math_score"]
grouped_math_pass_percent=(grouped_math_pass/total_pop)*100
grouped_math_pass_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [17]:
# school_type=schools_complete_df["type"]
# school_type
style_df=schools_complete_df.set_index("school_name")
school_type=style_df.loc["type"]
school_type
# school_type=school_data_complete.loc["type"]
#school_type

KeyError: 'type'

In [ ]:
overall_grade=school_data_complete.loc[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
grouped_overall_pass=overall_grade.groupby(["school_name"]).count()["student_name"]
overall_pass_percent=(total_pop/grouped_overall_pass)*100
overall_pass_percent

In [18]:
school_summary_df=pd.DataFrame({
   # "School Type": schools_complete_df["type"],
    "Total Students": total_pop,
    "Total School Budget": budget,
    "Per Student Budget": student_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": grouped_math_pass_percent,
    "% Passing Reading": grouped_reading_pass_percent,
    "% Pass Overall":})
school_summary_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
school_name,,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111

In [30]:

#grouped_overall_pass_percent=(grouped_overall_pass/total_pop)*100
#grouped_overall_pass_percent

school_name
Bailey High School       183.008459
Cabrera High School      109.487331
Figueroa High School     187.954111
Ford High School         184.196369
Griffin High School      110.375940
Hernandez High School    186.819831
Holden High School       112.073491
Huang High School        186.867393
Johnson High School      186.779129
Pena High School         110.447761
Rodriguez High School    188.721095
Shelton High School      111.244473
Thomas High School       109.952925
Wilson High School       110.396518
Wright High School       110.701107
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#math_df=school_data_complete[(school_data_complete[math_score])]
#math_df=school_data_complete.set_index("school_name")
#math_df
#math_by_grade=math_df.loc[math_df[]]
#grade_nine=school_data_complete.loc[school_data_complete['grade']=="9th", "9th Grade"] = "True"
#grades=school_data_complete({'grade': ["9th", "10th", "11th", "12th"]})

In [ ]:
 Access individual columns using bracket notation, i.e. df('Authors').unique()

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
#school_pop=schools_complete_df["size"].sum #dtype=int64
#budget=schools_complete_df['budget'] #dtype=int64
#student_budget_df
#student_budget_df=([budget]/[school_pop])

In [ ]:
# students_passing_math= school_data_complete

# need to use an operator function 
# similar to pokemon activity 
#pass_math_df=len("math_score")>70
#pass_math_df

# Need to sum total # of students that passed math, boolean data type

# pass_math_df.select_dtypes(include=[pass_math_df]).sum(axis=1)

#pass_math_df=(pass_math_df).sum()
# pass_math_df=pass_math_df.count
# math_percent=([(pass_math_df)/(total_students_df)]*100)

#math_pass_df=students_complete_df.loc[students_complete_df["math_score"]>70, ["math_score"]]
# math_pass_df=students_complete_df.loc['math_score']>70, ['math_score']
#math_pass_df.head()
#total_students_df.head()
#avg_math_score_df.head()
# data = {
  #  ...
   # "% Passing Math": (length of pass_math_df) / (number of students) * 100
#}

# passing_math_percentage = (# of people that passed math) / (number of students) * 100
    #(of people that passed math) = length of pass_math_df
#filter_df=avg_math_score_df.loc[:, "math_score"]>70
#pass_math_df=students_complete_df.loc[students_complete_df["avg_math_score"]>70, ["math_score"]]
# math_percent=[[pass_math_df]*100]
#passing_math=[int[avg_math_score]>70            
#filter_avg_math_score=avg_math_score["math_score"]>70

In [ ]:
# school_summary_df.set_index("school_name")

In [ ]:
# school_summary=school_data_complete[["school_name", "total_students", "total_budget", "avg_math_score", "avg_reading_score"]]

# Need a dataframe that uses the school name as the index
# school_summary_df=pd.DataFrame
# school_summary_df.set_index("School Name")

# school_summary_df=school_data_complete[["school_name", "type", "size", "budget"]]

#school_summary_df= pd.DataFrame({
 #   "School Name": school_data_complete["school_name"].unique(),
  #   "School Type": school_data_complete["type"].unique() -> won't work b/c arrays not same len

# })  

#Use groupby to group by school_name, then perform operations in separate cells on that groupby
# school_summary_df
# school_summary_df
#groupby will take whatever column you are grouping by and make that the index of the df
# groupby allows you to group by a certain column, and then performs the aggregate function on the rows
# in that group, aggregate function is how you want to group everything together

In [ ]:
school_summary_df.describe()