### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load 
schools_complete_df=pd.read_csv("Resources/schools_complete.csv")
students_complete_df=pd.read_csv("Resources/students_complete.csv")


# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_complete_df, schools_complete_df, how="left", on=["school_name", "school_name"])
# schools_complete_df.head
school_data_complete.head()
# print(data_complete_df)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [20]:
# After joining files, need to perform calculations
total_schools=schools_complete_df["school_name"].count() 
total_students_df=students_complete_df["Student ID"].count()
total_budget_df=schools_complete_df["budget"].sum()
avg_math_score_df=students_complete_df["math_score"].mean()
avg_reading_score_df=students_complete_df["reading_score"].mean()

In [21]:
# Need to pull all of the grades over 70 from the math column
math_score=school_data_complete[(school_data_complete["math_score"]>=70)] #grab every row this is true for
math_pass=math_score.count()["math_score"]
math_pass_percent=(math_pass/total_students_df)*100
math_pass_percent



# [] represent a list, variable math_Score is a series
# To call a function, need (). A function is built into python, something the language itself requires
#math_Score gives a series of booleans
# math_pass coming back as: <function list.count(value, /)>
# Need to convert list object to integer


#for i in range([math_pass]):
 #   math_pass[i]=(math_pass[i])

#math_pass_percent=((int[math_pass]/int[total_students_df])*100)

#percent passing math/reading = need to add up the total number of students in math/reading_score that are over 70 
# and then divide that number by the total # of students, and multiply by 100
# Pass math and reading = add up the total number of students with grades over 70 in BOTH the math and reading columns
# and then divide this by the total # of students and multiply by 100.

74.9808526933878

In [22]:
reading_score=school_data_complete[(school_data_complete["reading_score"]>=70)]
reading_pass=reading_score.count()["reading_score"]
reading_pass_percent=(reading_pass/total_students_df)*100
reading_pass_percent

85.80546336482001

In [23]:
overall_grade=school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
overall_pass=overall_grade.count()["Student ID"]
overall_pass_percent=(overall_pass/total_students_df)*100
overall_pass_percent

65.17232575950983

In [24]:
data= {
    "Total Schools ": [total_schools],
# Total schools isn't correct 
    "Total Students ": [total_students_df], #either integer or float (767124865)
    "Total Budget ": [total_budget_df], #integer or float
    "Average Math Score ": [avg_math_score_df],#decimal 78.985...
    "Average Reading Score ": [avg_reading_score_df], # decimal 81.8779....
    "% Passing Math": [math_pass_percent],
    "% Passing Reading": [reading_pass_percent],
    "% Overall Passing": [overall_pass_percent]
}
pd.DataFrame(data)

# Brackets necessary around % because only 1 number, for next parts w summary data frame, they're series
# so don't need [] around variable

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [25]:
grouped_schools= school_data_complete.groupby(["school_name"])
total_pop= grouped_schools.count()["Student ID"]

#school type doesn't use groupby

In [26]:
budget=grouped_schools.mean()["budget"]
budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [27]:
student_budget=budget/total_pop
student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [28]:
avg_math=grouped_schools.mean()["math_score"]
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [29]:
avg_reading=grouped_schools.mean()["reading_score"]
avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [30]:
reading_score=school_data_complete[(school_data_complete["reading_score"]>=70)]
grouped_reading=reading_score.groupby(["school_name"])
grouped_reading_pass=grouped_reading.count()["reading_score"]
grouped_reading_pass_percent=(grouped_reading_pass/total_pop)*100
grouped_reading_pass_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [31]:
math_score=school_data_complete[(school_data_complete["math_score"]>=70)]
grouped_math=math_score.groupby(["school_name"])
grouped_math_pass=grouped_math.count()["math_score"]
grouped_math_pass_percent=(grouped_math_pass/total_pop)*100
grouped_math_pass_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [80]:
# school_type=schools_complete_df["type"]
# school_type
style_df=schools_complete_df.set_index("school_name")
school_type=style_df.loc["type"]
school_type
# school_type=school_data_complete.loc["type"]
#school_type

KeyError: 'type'

In [71]:
school_summary_df=pd.DataFrame({
   # "School Type": schools_complete_df["type"],
    "Total Students": total_pop,
    "Total School Budget": budget,
    "Per Student Budget": student_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": grouped_math_pass_percent,
    "% Passing Reading": grouped_reading_pass_percent})
school_summary_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
school_name,,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111

In [18]:
#overall_grade=school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
#grouped_overall_pass=overall_grade.groupby(["school_name"])
#grouped_overall_pass_percent=(grouped_overall_pass/total_pop)*100
#grouped_overall_pass_percent

C:\Users\carua.DESKTOP-4FTJ629\anaconda3\lib\site-packages\pandas\core\ops\roperator.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return right / left

ValueError: operands could not be broadcast together with shapes (15,2) (15,)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [67]:
#math_df=school_data_complete[(school_data_complete[math_score])]
#math_df=school_data_complete.set_index("school_name")
#math_df
#math_by_grade=math_df.loc[math_df[]]
#grade_nine=school_data_complete.loc[school_data_complete['grade']=="9th", "9th Grade"] = "True"
#grades=school_data_complete({'grade': ["9th", "10th", "11th", "12th"]})

TypeError: 'DataFrame' object is not callable

In [12]:
 Access individual columns using bracket notation, i.e. df('Authors').unique()

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [132]:
#school_pop=schools_complete_df["size"].sum #dtype=int64
#budget=schools_complete_df['budget'] #dtype=int64
#student_budget_df
#student_budget_df=([budget]/[school_pop])

In [6]:
# students_passing_math= school_data_complete

# need to use an operator function 
# similar to pokemon activity 
#pass_math_df=len("math_score")>70
#pass_math_df

# Need to sum total # of students that passed math, boolean data type

# pass_math_df.select_dtypes(include=[pass_math_df]).sum(axis=1)

#pass_math_df=(pass_math_df).sum()
# pass_math_df=pass_math_df.count
# math_percent=([(pass_math_df)/(total_students_df)]*100)

#math_pass_df=students_complete_df.loc[students_complete_df["math_score"]>70, ["math_score"]]
# math_pass_df=students_complete_df.loc['math_score']>70, ['math_score']
#math_pass_df.head()
#total_students_df.head()
#avg_math_score_df.head()
# data = {
  #  ...
   # "% Passing Math": (length of pass_math_df) / (number of students) * 100
#}

# passing_math_percentage = (# of people that passed math) / (number of students) * 100
    #(of people that passed math) = length of pass_math_df
#filter_df=avg_math_score_df.loc[:, "math_score"]>70
#pass_math_df=students_complete_df.loc[students_complete_df["avg_math_score"]>70, ["math_score"]]
# math_percent=[[pass_math_df]*100]
#passing_math=[int[avg_math_score]>70            
#filter_avg_math_score=avg_math_score["math_score"]>70

False

In [85]:
# school_summary_df.set_index("school_name")

                           type  size   budget
school_name
Huang High School      District  2917  1910635
Figueroa High School   District  2949  1884411
Shelton High School     Charter  1761  1056600
Hernandez High School  District  4635  3022020
Griffin High School     Charter  1468   917500
Wilson High School      Charter  2283  1319574
Cabrera High School     Charter  1858  1081356
Bailey High School     District  4976  3124928
Holden High School      Charter   427   248087
Pena High School        Charter   962   585858
Wright High School      Charter  1800  1049400
Rodriguez High School  District  3999  2547363
Johnson High School    District  4761  3094650
Ford High School       District  2739  1763916
Thomas High School      Charter  1635  1043130

In [134]:
# school_summary=school_data_complete[["school_name", "total_students", "total_budget", "avg_math_score", "avg_reading_score"]]

# Need a dataframe that uses the school name as the index
# school_summary_df=pd.DataFrame
# school_summary_df.set_index("School Name")

# school_summary_df=school_data_complete[["school_name", "type", "size", "budget"]]

#school_summary_df= pd.DataFrame({
 #   "School Name": school_data_complete["school_name"].unique(),
  #   "School Type": school_data_complete["type"].unique() -> won't work b/c arrays not same len

# })  

#Use groupby to group by school_name, then perform operations in separate cells on that groupby
# school_summary_df
# school_summary_df
#groupby will take whatever column you are grouping by and make that the index of the df
# groupby allows you to group by a certain column, and then performs the aggregate function on the rows
# in that group, aggregate function is how you want to group everything together

              school_name      type  size   budget
0       Huang High School  District  2917  1910635
1       Huang High School  District  2917  1910635
2       Huang High School  District  2917  1910635
3       Huang High School  District  2917  1910635
4       Huang High School  District  2917  1910635
...                   ...       ...   ...      ...
39165  Thomas High School   Charter  1635  1043130
39166  Thomas High School   Charter  1635  1043130
39167  Thomas High School   Charter  1635  1043130
39168  Thomas High School   Charter  1635  1043130
39169  Thomas High School   Charter  1635  1043130

[39170 rows x 4 columns]

In [93]:
school_summary_df.describe()

              size        budget
count    15.000000  1.500000e+01
mean   2611.333333  1.643295e+06
std    1420.915282  9.347763e+05
min     427.000000  2.480870e+05
25%    1698.000000  1.046265e+06
50%    2283.000000  1.319574e+06
75%    3474.000000  2.228999e+06
max    4976.000000  3.124928e+06