### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load 
schools_complete_df=pd.read_csv("Resources/schools_complete.csv")
students_complete_df=pd.read_csv("Resources/students_complete.csv")

# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_complete_df, schools_complete_df, how="left", on=["school_name", "school_name"])
# schools_complete_df.head
school_data_complete.head()
# print(data_complete_df)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# After joining files, need to perform calculations
total_schools=schools_complete_df["school_name"].count() 
total_students_df=students_complete_df["Student ID"].count()
total_budget_df=schools_complete_df["budget"].sum()
avg_math_score_df=students_complete_df["math_score"].mean()
avg_reading_score_df=students_complete_df["reading_score"].mean()

In [3]:
# Need to pull all of the grades over 70 from the math column
math_score=school_data_complete[(school_data_complete["math_score"]>=70)] #grab every row this is true for
math_pass=math_score.count()["math_score"]
math_pass_percent=(math_pass/total_students_df)*100
# math_pass_percent

In [4]:
reading_score=school_data_complete[(school_data_complete["reading_score"]>=70)]
reading_pass=reading_score.count()["reading_score"]
reading_pass_percent=(reading_pass/total_students_df)*100
# reading_pass_percent

In [5]:
overall_grade=school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
overall_pass=overall_grade.count()["Student ID"]
overall_pass_percent=(overall_pass/total_students_df)*100
# overall_pass_percent

In [6]:
data= {
    "Total Schools ": [total_schools],
# Total schools isn't correct 
    "Total Students ": [total_students_df], #either integer or float (767124865)
    "Total Budget ": [total_budget_df], #integer or float
    "Average Math Score ": [avg_math_score_df],#decimal 78.985...
    "Average Reading Score ": [avg_reading_score_df], # decimal 81.8779....
    "% Passing Math": [math_pass_percent],
    "% Passing Reading": [reading_pass_percent],
    "% Overall Passing": [overall_pass_percent]
}
pd.DataFrame(data)

# Brackets necessary around % because only 1 number, for next parts w summary data frame, they're series
# so don't need [] around variable

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [7]:
grouped_schools= school_data_complete.groupby(["school_name"])
total_pop= grouped_schools.count()["Student ID"]

#school type doesn't use groupby

In [8]:
budget=grouped_schools.mean()["budget"]
# budget

In [9]:
student_budget=budget/total_pop
# student_budget

In [10]:
avg_math=grouped_schools.mean()["math_score"]
# avg_math

In [11]:
avg_reading=grouped_schools.mean()["reading_score"]
# avg_reading

In [12]:
reading_score=school_data_complete[(school_data_complete["reading_score"]>=70)]
grouped_reading=reading_score.groupby(["school_name"])
grouped_reading_pass=grouped_reading.count()["reading_score"]
grouped_reading_pass_percent=(grouped_reading_pass/total_pop)*100
# grouped_reading_pass_percent

In [13]:
math_score=school_data_complete[(school_data_complete["math_score"]>=70)]
grouped_math=math_score.groupby(["school_name"])
grouped_math_pass=grouped_math.count()["math_score"]
grouped_math_pass_percent=(grouped_math_pass/total_pop)*100
# grouped_math_pass_percent

In [14]:
style_df=schools_complete_df.set_index("school_name")
school_type=style_df.loc[:,"type"]

In [15]:
overall_grade=school_data_complete.loc[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
grouped_overall_pass=overall_grade.groupby(["school_name"]).count()["student_name"]
overall_pass_percent=(grouped_overall_pass/total_pop)*100
# overall_pass_percent

In [16]:
school_summary_df=pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_pop,
    "Total School Budget": budget,
    "Per Student Budget": student_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": grouped_math_pass_percent,
    "% Passing Reading": grouped_reading_pass_percent,
    "% Pass Overall": overall_pass_percent})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Pass Overall
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [17]:
top_school_summary_df=school_summary_df.sort_values("% Pass Overall", ascending=False)
top_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Pass Overall
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [18]:
bottom_school_summary_df=school_summary_df.sort_values("% Pass Overall")
bottom_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Pass Overall
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [19]:
grade_nine_math=students_complete_df.loc[students_complete_df["grade"]=="9th",["school_name","math_score"]]
grouped_nine_math=grade_nine_math.groupby(["school_name"])
grouped_nine_math_avg=grouped_nine_math["math_score"].mean()
# grouped_nine_math_avg.head()

In [20]:
grade_ten_math=students_complete_df.loc[students_complete_df["grade"]=="10th",["school_name","math_score"]]
grouped_ten_math=grade_ten_math.groupby(["school_name"])
grouped_ten_math_avg=grouped_ten_math["math_score"].mean()
# grouped_ten_math_avg.head()

In [21]:
grade_eleven_math=students_complete_df.loc[students_complete_df["grade"]=="11th",["school_name","math_score"]]
grouped_eleven_math=grade_eleven_math.groupby(["school_name"])
grouped_eleven_math_avg=grouped_eleven_math["math_score"].mean()
# grouped_eleven_math_avg.head()

In [22]:
grade_twelve_math=students_complete_df.loc[students_complete_df["grade"]=="12th",["school_name","math_score"]]
grouped_twelve_math=grade_twelve_math.groupby(["school_name"])
grouped_twelve_math_avg=grouped_twelve_math["math_score"].mean()
# grouped_twelve_math_avg.head()

In [23]:
math_scores_by_grade_df=pd.DataFrame({
    "9th": grouped_nine_math_avg,
    "10th": grouped_ten_math_avg,
    "11th": grouped_eleven_math_avg,
    "12": grouped_twelve_math_avg
    
})
math_scores_by_grade_df.head()

                            9th       10th       11th         12
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [24]:
grade_nine_reading=students_complete_df.loc[students_complete_df["grade"]=="9th",["school_name","reading_score"]]
grouped_nine_reading=grade_nine_reading.groupby(["school_name"])
grouped_nine_reading_avg=grouped_nine_reading["reading_score"].mean()
# grouped_nine_reading_avg.head()

In [25]:
grade_ten_reading=students_complete_df.loc[students_complete_df["grade"]=="10th",["school_name","reading_score"]]
grouped_ten_reading=grade_ten_reading.groupby(["school_name"])
grouped_ten_reading_avg=grouped_ten_reading["reading_score"].mean()
# grouped_ten_reading_avg.head()

In [26]:
grade_eleven_reading=students_complete_df.loc[students_complete_df["grade"]=="11th",["school_name","reading_score"]]
grouped_eleven_reading=grade_eleven_reading.groupby(["school_name"])
grouped_eleven_reading_avg=grouped_eleven_reading["reading_score"].mean()
# grouped_eleven_reading_avg.head()

In [27]:
grade_twelve_reading=students_complete_df.loc[students_complete_df["grade"]=="12th",["school_name","reading_score"]]
grouped_twelve_reading=grade_twelve_reading.groupby(["school_name"])
grouped_twelve_reading_avg=grouped_twelve_reading["reading_score"].mean()
# grouped_twelve_reading_avg.head()

In [28]:
reading_scores_by_grade_df=pd.DataFrame({
    "9th": grouped_nine_reading_avg,
    "10th": grouped_ten_reading_avg,
    "11th": grouped_eleven_reading_avg,
    "12": grouped_twelve_reading_avg
    
})
reading_scores_by_grade_df.head()

                            9th       10th       11th         12
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [42]:
school_bins=[0, 585, 630, 645, 680]
group_names= ["< $585", "$585-630", "$630-645", "$645-680"]
school_spending_cut=pd.cut(school_summary_df.loc[:, "Per Student Budget"], bins=school_bins, labels=group_names, include_lowest=True)

#school_spending_cut

In [51]:
school_spending_df= pd.DataFrame({
    'Spending Ranges (Per Student)': school_spending_cut,
    'Average Math Score': avg_math,
    'Average Reading Score': avg_reading,
    '% Passing Math': grouped_math_pass_percent,
    '% Passing Reading': grouped_reading_pass_percent,
    '% Overall Passing': overall_pass_percent
})    
school_spending_grouped=school_spending_df.groupby("Spending Ranges (Per Student)").mean()
school_spending_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
< $585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# use pd.cut() to segment into bins 
# 2 required arguments: the x and the bins
# x= array-like, the input arra to be binned. Mst be 1dimsenional
# bins: int, sequence of scalars (manually defines bin ranges), or intervalIndex
# Needs to be equal length bins
# [] means include () means do not include

In [44]:
size_bins=[0, 1000, 2000, 5000]
size_names= ["<1000", "1000-2000", "2000-5000"]
school_size_cut=pd.cut(school_summary_df.loc[:, "Total Students"], bins=size_bins, labels=size_names, include_lowest=True)
# school_size_cut

In [53]:
school_size_df= pd.DataFrame({
    'School Size': school_size_cut,
    'Average Math Score': avg_math,
    'Average Reading Score': avg_reading,
    '% Passing Math': grouped_math_pass_percent,
    '% Passing Reading': grouped_reading_pass_percent,
    '% Overall Passing': overall_pass_percent
})    
school_size_grouped=school_size_df.groupby("School Size").mean()
school_size_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
<1000,83.821598,83.929843,93.550225,96.099437,89.883853
1000-2000,83.374684,83.864438,93.599695,96.790680,90.621535
2000-5000,77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [78]:
school_style_df= pd.DataFrame({
    'School Type': school_type,
    'Average Math Score': avg_math,
    'Average Reading Score': avg_reading,
    '% Passing Math': grouped_math_pass_percent,
    '% Passing Reading': grouped_reading_pass_percent,
    '% Overall Passing': overall_pass_percent
})    
school_style_grouped=school_style_df.groupby("School Type").mean()
school_style_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [77]:
#style_df=schools_complete_df.set_index("school_name")
#school_type=style_df.loc[:,"type"]
#style_bins= ["charter", "district"]
#style_names= ["charter", "district"]
#school_type_cut=pd.cut(school_summary_df.loc[:, "type"], bins=style_bins, labels=style_names, include_lowest=True)
#school_type_cut=pd.cut(school_summary_df.loc[:,"type"], bins=style_bins, labels=style_names, include_lowest=True)
#school_type_cut

KeyError: 'type'

In [65]:

#school_type_grouped=school_type.groupby("type").value_counts()
# style_df

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [ ]:
# school_type_grouped=school_data_complete.groupby([type]).count()
# school_type_grouped.head()

In [ ]:
# school_type_cut=pd.cut(school_type_grouped[:, 'type'], bins=school_bins, labels=group_names, include_lowest=True)
# school_type_cut

In [29]:
# # # school_spending_df=school_summary_df.loc[[school_summary_df("Per Student Budget": student_budget,
# # "Average Math Score": avg_math, "Average Reading Score": avg_reading, "% Passing Math": grouped_math_pass_percent, "% Passing Reading": grouped_reading_pass_percent, "% Pass Overall": overall_pass_percent)]]
# school_spending_df= pd.DataFrame({
#      'School Budget': student_budget,
#      'Average Math Score': avg_math,
#      'Average Reading Score': avg_reading,
#      '% Passing Math': grouped_math_pass_percent,
#      '% Passing Reading': grouped_reading_pass_percent,
#      '% Overall Passing': overall_pass_percent
# })                                                    

# # school_spending_df["Spending Ranges (Per Student)"] =pd.cut(per_school_capita, spending_bins, labels=group_names
# # school_spending_df
# grouped_spending=school_spending_cut.groupby(["group_names"])

#school_spending_cut.loc[:, 'school_bins']=pd.cut(school_spending_df.loc[:, 'School Budget'], bins=school_bins, labels=group_names, include_lowest=True)
#school_spending_cut
# for each_group in school_spending_cut(school_bins):
  #      print(each_group)

# school_spending_cut("[school_bins]").value_counts()

# school_spending_cut.groupby([group_names]).count()
# spending_groups=school_spending_cut([student_budget]).value_counts()

# school_spending_cut_df["Spending Ranges (Per Student)":]= pd.cut(school_spending_cut['School Budget'], bins=school_bins, labels=group_labels)
#school_spending_df_new= pd.DataFrame({
 #   'School Budget': school_spending_cut,
 #   'Average Math Score': avg_math,
  #  'Average Reading Score': avg_reading,
   # '% Passing Math': grouped_math_pass_percent,
    #'% Passing Reading': grouped_reading_pass_percent,
    #'% Overall Passing': overall_pass_percent
#})                                                    
# school_spending_df_new.set_index([school_spending_cut])
#school_spending_df_new

In [35]:
#school_spending_df= pd.DataFrame({
 #   'Spending Ranges (Per Student)': school_spending_cut,
 #   '% Passing Math': average_spending_math,
  #  '% Passing Reading': average_spending_reading,
   # '% Overall Passing': average_spending_overall
# })                                                   
#school_spending_df.set_index(["Spending Ranges (Per Student)"])
#school_spending_grouped_df=school_spending_cut.groupby([school_spending_cut])
# average_spending_math=school_summary_df["% Passing Math"].mean()
# average_spending_math=school_spending_grouped_df["% Passing Math"].mean()
# average_spending_reading=school_spending_grouped_df["% Passing Reading"].mean()
# average_spending_overall=school_spending_grouped_df["% Overall Passing"].mean()
# average_spending_math= school_data_complete.groupby(["school name"])
# average_spending_math

#school_spending_grouped_df.head()
# (["Spending Ranges (Per Student"])
#school_groups=school_spending_df.groupby(['school_name']).count()
#school_groups

In [32]:
# school_spending_cut = school_summary_df['school_spending_cut']=pd.cut(school_summary_df.loc[:, "Per Student Budget"], bins=school_bins, labels=group_names, include_lowest=True)
# school_spending_cut

In [31]:
#school_spending_grouped_df=school_spending_cut.groupby(["Per Student Budget"])
#school_spending_grouped_df.head()

In [ ]:
#school_pop=schools_complete_df["size"].sum #dtype=int64
#budget=schools_complete_df['budget'] #dtype=int64
#student_budget_df
#student_budget_df=([budget]/[school_pop])

In [ ]:
#school_spending_cut
#school_cut_group=school_spending_cut.groupby([group_names]).value_counts()
#school_cut_group
#school_spending_df["School Budget"]= pd.cut(student_budget, bins=school_bins, labels=group_names, include_lowest=True)
# school_spending_df
# school_spending_cut["Spending Ranges (Per Student)":] = pd.cut(school_spending_cut["School Budget"], bins=school_bins, labels=group_labels)
# school_spending_cut
#school_cut_group=school_spending_cut.groupby(["group_names"]).value_counts()
#school_cut_group
# school_spending_cut(group_names).value_counts()
# for each_group in school_spending_cut.groupby(["group_names"])[]:
   # print(each_group)

In [ ]:
# school_spending_df= pd.DataFrame({
#     'School Budget': school_spending_cut,
#     'Average Math Score': avg_math,
#     'Average Reading Score': avg_reading,
#     '% Passing Math': grouped_math_pass_percent,
#     '% Passing Reading': grouped_reading_pass_percent,
#     '% Overall Passing': overall_pass_percent
# })                                                    
# #school_spending_df.groupby(["School Budget"])==
# school_spending_df(["school_bins"]).value_counts()

In [ ]:
#math_df=school_data_complete[(school_data_complete[math_score])]
#math_df=school_data_complete.set_index("school_name")
#math_df
#math_by_grade=math_df.loc[math_df[]]
#grade_nine=school_data_complete.loc[school_data_complete['grade']=="9th", "9th Grade"] = "True"
#grades=school_data_complete({'grade': ["9th", "10th", "11th", "12th"]})

#.loc .loc has very specific syntax that needs to be used
#.loc can ask for specific rows and columns together in a single
# square bracket 
# if just pass .loc a number, will search for the index of that number
# and gets you all of the info for that
# if want to use filters, .loc allows you to add on a column
# [] doesn't understand adding on an extra column
# .loc allows to filter and specify the columns
# syntax changes depending on whether or not you're using .loc

In [ ]:
# [] represent a list, variable math_Score is a series
# To call a function, need (). A function is built into python, something the language itself requires
#math_Score gives a series of booleans
# math_pass coming back as: <function list.count(value, /)>
# Need to convert list object to integer


#for i in range([math_pass]):
 #   math_pass[i]=(math_pass[i])

#math_pass_percent=((int[math_pass]/int[total_students_df])*100)

#percent passing math/reading = need to add up the total number of students in math/reading_score that are over 70 
# and then divide that number by the total # of students, and multiply by 100
# Pass math and reading = add up the total number of students with grades over 70 in BOTH the math and reading columns
# and then divide this by the total # of students and multiply by 100.

In [ ]:
# school_type
# school_type=school_data_complete.loc["type"]
#school_type
# school_type=schools_complete_df["type"]
# school_type

In [ ]:
# students_passing_math= school_data_complete

# need to use an operator function 
# similar to pokemon activity 
#pass_math_df=len("math_score")>70
#pass_math_df

# Need to sum total # of students that passed math, boolean data type

# pass_math_df.select_dtypes(include=[pass_math_df]).sum(axis=1)

#pass_math_df=(pass_math_df).sum()
# pass_math_df=pass_math_df.count
# math_percent=([(pass_math_df)/(total_students_df)]*100)

#math_pass_df=students_complete_df.loc[students_complete_df["math_score"]>70, ["math_score"]]
# math_pass_df=students_complete_df.loc['math_score']>70, ['math_score']
#math_pass_df.head()
#total_students_df.head()
#avg_math_score_df.head()
# data = {
  #  ...
   # "% Passing Math": (length of pass_math_df) / (number of students) * 100
#}

# passing_math_percentage = (# of people that passed math) / (number of students) * 100
    #(of people that passed math) = length of pass_math_df
#filter_df=avg_math_score_df.loc[:, "math_score"]>70
#pass_math_df=students_complete_df.loc[students_complete_df["avg_math_score"]>70, ["math_score"]]
# math_percent=[[pass_math_df]*100]
#passing_math=[int[avg_math_score]>70            
#filter_avg_math_score=avg_math_score["math_score"]>70

In [ ]:
# school_summary_df.set_index("school_name")

In [ ]:
# school_summary=school_data_complete[["school_name", "total_students", "total_budget", "avg_math_score", "avg_reading_score"]]

# Need a dataframe that uses the school name as the index
# school_summary_df=pd.DataFrame
# school_summary_df.set_index("School Name")

# school_summary_df=school_data_complete[["school_name", "type", "size", "budget"]]

#school_summary_df= pd.DataFrame({
 #   "School Name": school_data_complete["school_name"].unique(),
  #   "School Type": school_data_complete["type"].unique() -> won't work b/c arrays not same len

# })  

#Use groupby to group by school_name, then perform operations in separate cells on that groupby
# school_summary_df
# school_summary_df
#groupby will take whatever column you are grouping by and make that the index of the df
# groupby allows you to group by a certain column, and then performs the aggregate function on the rows
# in that group, aggregate function is how you want to group everything together

In [ ]:
# school_summary_df.describe()

In [ ]:
 Access individual columns using bracket notation, i.e. df('Authors').unique()